html, body {
  height: 100%; 
  margin: 0; 
}

body {
  display: flex;
  flex-direction: column; 
}

main {
  flex: 1; 
  min-height: calc(100vh - 160px); 
}

.card.mb-4 {
  width: 20em;
  height: 30em;
  display: block;
  float: right;
  margin: 1em; 
}

.card-img-top {
  width: 20em;
  height: 15em;
  object-fit: cover;
}

.card-text {
  height: 6em;
  overflow-y: scroll; 
}

footer {
  text-align: center; 
  padding: 10px 0; 
}
